<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_mount" params="mount_prefix:='' description_pkg:='franka_description'">
    <!-- Robot mount link with proper prefix handling -->
    <link name="${mount_prefix}robot_mount">
      <visual name="${mount_prefix}robot_mount_visual">
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/robot_mount/visual/mount.dae"/>
        </geometry>
      </visual>
      <collision name="${mount_prefix}robot_mount_collision">
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/robot_mount/collision/mount_collision.dae"/>
        </geometry>
      </collision>
      <inertial>
        <!-- You'll need to add proper inertial properties for your mount -->
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="10.0"/>  <!-- Adjust based on your mount's actual mass -->
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
